<div class="container emp-profile" style="margin-top: 90px;">
  <div class="container">
     <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12 col-sm-12">
           <div class="wrapper px-md-4">
              <div class="row mb-5">
                <div class="col-md-6">
                   
                  <!-- <div class="dbox w-100 text-center"> -->
                    <div class="col-md-6 col-lg-6 col-sm-6">
                      <div class="dbox w-100 text-center">
                      <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-user"></span>
                     </div>
                     </div>
                    </div>

                    <div class="col-md-6 col-lg-6 col-sm-6">
                      <div class="dbox w-100 text-center">
                      <div class="text">
                        <p><span>Name:</span> {{user.fname}} {{user.lname}}</p>
                     </div>
                     </div>
                    </div>
                     
                     
                  <!-- </div> -->
               </div>

                 <div class="col-md-6">
                   
                    <!-- <div class="dbox w-100 text-center"> -->
                      <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                          <span class="fa fa-map-marker"></span>
                       </div>
                       </div>
                      </div>

                      <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="dbox w-100 text-center">
                        <div class="text">
                          <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                       </div>
                       </div>
                      </div>
                       
                       
                    <!-- </div> -->
                 </div>

                 <div class="col-md-6 ">
                    <!-- <div class="dbox w-100 text-center"> -->

                      
                      <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                          <span class="fa fa-phone"></span>
                       </div>
                       </div>
                      </div>
                      
                       <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="dbox w-100 text-center">
                        <div class="text">
                          <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                       </div>
                       </div>
                       </div>
                     
                    <!-- </div> -->
                 </div>

                 <div class="col-md-6 ">
                    <!-- <div class="dbox w-100 text-center"> -->

                      <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                          <span class="fa fa-paper-plane"></span>
                       </div>
                       </div>
                      </div>
                       
                       <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="dbox w-100 text-center">
                        <div class="text">
                          <p><span>Email: </span> <a href="#">{{ user.email }}</a></p>
                       </div>
                       </div>
                       </div>
                       
                    <!-- </div> -->
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>